{% extends "base.html" %}

{% block content %}

	<form action="/newpost" method="post">
		<div class="form-group">
		<label for="title">Title for your new blog:</label>
		<input type="text" name="title" value="{{title}}" class="form-control" />
		<span class="error">{{title_error}}</span>
		</div>

		<div class="form-group">
		<label for="body">Your new blog:</label>
		<textarea name="body" id="" cols="50" rows="5">{{body}}</textarea>
		<span class="error">{{body_error}}</span>
		</div>

		<button type="submit" class="btn btn-default">Add Entry</button>

	</form>

{% endblock %}
